// Brand colors

$primary-color: #15573F;
$secondary-color: #FD9872;
$tertiary-color: #75BC97;


// Fonts

$primary-font-color: #A8A8A8;
$secondary-font-color: #848484;
$tertiary-font-color: #A9A9A9;

$green-font-color: #1E6B4E;


// Background types

$background-gray: #F6F6F6;
$background-white: #FFF;
